html {
  position: relative;
  min-height: 100%;
}

body {

	margin-top:100px;
	padding:20px;
}

footer {
	
	padding-top: 20px;
	position: absolute;
	bottom: 0;
	height: 120px;
	background: linear-gradient(to bottom right, #ECEBF3, #4D6A6D);

}

body > div > img.col-md-4

{
	background-color: #9BC4BC;
	padding: 1px;
}

#header {

	color: black;
	margin-bottom:150px;
	background-image: url("/img/gradient2.jpg");

}

a.btn-sm {

	margin: 2px;
	padding: 2px;

}

.modal-header, h4, .close {

  	background-color: #5cb85c;
  	color:white !important;
  	text-align: center;
  	font-size: 30px;

}

.modal-footer {

  	background-color: #f9f9f9;

}

div#loginModal {
	opacity: .95;
}

div#signUpModal {
	opacity: .95;
}










